---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation/>
		<h1>Astro</h1>
		<h1>My Astro Site</h1>
		<h1>{pageTitle}</h1>
		<p>经济不过是无数交易的总和，而交易是一件非常简单的事情。</p>
		<p>在每次交易中，买方使用货币或信用向卖方交换商品、服务或金融资产。</p>
		<p>信用在使用时和货币一样。因此，把花费的货币和信用加在一起，就可以得出支出总额。</p>
	</body>
</html>
