---
const platform = "github";
const username = "tk1026";
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="twitter" username="Quentin" />
  <Social platform="github" username="tk1026" />
  <Social platform="youtube" username="Quentin_tk" />
</footer>